
<!-- Crop Ads Background Image Values -->
<input type="hidden" id="x" name="x" />
<input type="hidden" id="y" name="y" />
<input type="hidden" id="w" name="w" value="320"  />
<input type="hidden" id="h" name="h" value="125"/>

<!-- Crop Welcome Image Values -->
<input type="hidden" id="x2" name="x2" />
<input type="hidden" id="y2" name="y2" />
<input type="hidden" id="w2" name="w2" value="320"  />
<input type="hidden" id="h2" name="h2" value="125"/>

<!-- Left Column -->
<div class="col-xs-6 resize-formleft">
	
	<!-- Name  -->				
	<custom:editField type="text" name="name" required="${true}" value="${entity.name}" 
		label="default.field.name" max="50"/>
		<br/>
		<g:submitButton class="form-btn btn-primary" name="save" value="${message(code:'default.field.buttonSave')}" />
		<g:link action="listAll" controller="docCategory" class="back-button">        
		   <span class="form-btn btn-primary">
		      ${message(code:'default.field.buttonCancel')}
		   </span>       
		</g:link>
		
	<span class="clearfix"></span>
	
	<!--  Buttons  -->

</div>


<span class="clearfix"></span>

