<%
/**
 * wizard refresh flow action
 *
 * When a page (/ partial) is rendered, any DOM event handlers need to be
 * (re-)attached. The af:ajaxButton, af:ajaxSubmitJs and af:redirect tags
 * supports calling a JavaScript after the page has been rendered by passing
 * the 'afterSuccess' argument.
 *
 * Example:	af:redirect afterSuccess="onPage();"
 * 		af:redirect afterSuccess="console.log('redirecting...');"
 *
 * Generally one would expect this code to add jQuery event handlers to
 * DOM objects in the rendered page (/ partial).
 *
 * @author	Jeroen Wesbeek <work@osx.eu>
 * @package AjaxFlow
 */
%>
<script type="text/javascript">
        function onPage() {      
             if (console) {
                    // console.log('calling onPage() which can be used to attach generic javascript handlers to DOM elements of a rendered page / partial');
             }
        }

        function showSpinner() {
        	spinnerVisible = true;
        	setTimeout("showDelayedSpinner();", 50);
        } 
        function showDelayedSpinner() {
        	if (spinnerVisible) {
        		$('div#ajaxFlowWait').show(40);
        	}
        }
</script>

