<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title><g:message code="default.title.logFile" /></title>
	</head>
	<body>
	<div class="hero-unit special-box-login">
				<g:message code="default.box.was.not.received.the.logFile"/>
		</div>
	</body>
</html>