.company .header{border-color: #000; width: 100%;
background-color: #0088cc;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088cc), to(#fffff));
background: -webkit-linear-gradient(top, #0088cc, #fffff);
background: -moz-linear-gradient(top, #0088cc, #fffff);
background: -ms-linear-gradient(top, #0088cc, #fffff);
background: -o-linear-gradient(top, #0088cc, #fffff);
height: 26px; line-height: 26px; vertical-align: middle; font-weight: bold; }

.company .location{float: left; width: 100%;
/*background-color: #f5f5f5;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#fffff));
background: -webkit-linear-gradient(top, #f5f5f5, #fffff);
background: -moz-linear-gradient(top, #f5f5f5, #fffff);
background: -ms-linear-gradient(top, #f5f5f5, #fffff);
background: -o-linear-gradient(top, #f5f5f5, #fffff);*/
height: 26px; line-height: 26px; vertical-align: middle; color: #999999; font-weight: bold; }

/**/
.company .header label {
	display: block;
	float: left;
    padding-left: 25px;
    text-indent: -15px;
    line-height: 28px;
    margin-bottom: -5px;
    font-weight: bold;
}

.company .location label {
	margin-bottom: 0;
    padding-left: 30px;
    text-indent: -15px;
    line-height: 28px;
    margin-bottom: -5px;
}
.company input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    /*vertical-align: bottom;*/
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.company .locationsContainer{border: solid thin;
	border-color: #000; width: 100%;
}

.minus{background: url('../images/toggle_minus.png') no-repeat right center;display: inline-block;height: 26px;width: 16px; float: right;}
.minus:hover{cursor: pointer;}
.plus{background: url('../images/toggle_plus.png') no-repeat right center;display: inline-block;height: 26px;width: 16px; float: right; display: none;}
.plus:hover{cursor: pointer;}

.rowHelp{ font-size: 10px; float: right; color: white;}
.company .locationContainer .odd{background-color: #f9f9f9;}
.company .locationContainer .even{background-color: #fff;}