/*
	MOBILE SCREEN < 480
*/


/*
 *					TABLES
 */
.table thead th {
  vertical-align: bottom;  
}


.hideOrDisplay
{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

/*
 *				TABLE COLUMN IN PX
 */

.table.table-striped thead tr th.width207 {			
	width: 210px;	
}

.table.table-striped thead tr th.width100 {			
	width: 100%;	
}

.table.table-striped thead tr th.width80 {			
	width: 80%;	
}

.table.table-striped thead tr th.width60 {			
	width: 60%;	
}

.table.table-striped thead tr th.width50 {			
	width: 50%;	
}

.table.table-striped thead tr th.width40 {			
	width: 40%;	
}

.table.table-striped thead tr th.width25 {			
	width: 25%;	
}

.table.table-striped thead tr th.width20 {			
	width: 20%;	
}


.table.table-striped thead tr th.width15 {			
	width: 15%;	
}

.table.table-striped thead tr th.width10 {			
	width: 10%;	
}

.table.table-striped thead tr th.width5 {			
	width: 5%;	
}

.table.table-striped thead tr th.width2 {			
	width: 17px;	
}

.table.table-striped thead tr th.restOfWidth{		
	
	border-right-width:0;
	
}

.widthTdRow207 {
	width:210px;	
	word-wrap: break-word;	
}

.widthTdRow100 {
	width:870;	
	word-wrap: break-word;	
}

.widthTdRow80 {
	width:835px;	
	word-wrap: break-word;	
}

.widthTdRow60 {
	width:626px;	
	word-wrap: break-word;	
}

.widthTdRow50 {			
	/*min-width:50px;*/
	width:522px;	
	word-wrap: break-word;	
}

.widthTdRow40 {
	width:348px;	
	word-wrap: break-word;	
}

.widthTdRow25 {
	width:217px;	
	word-wrap: break-word;
}

.widthTdRow20 {
	width:174px;	
	word-wrap: break-word;
}

.widthTdRow15 {
	width:50px;	
	word-wrap: break-word;
}

.widthTdRow10 {
	width:87px;	
	word-wrap: break-word;
}

.widthTdRow5  {
	width:5px;	
	word-wrap: break-word;
}

.widthTdRow2  {
	width:17px;	
	word-wrap: break-word;
}

.widthTdRowRestOfWidth {
	width:190px;	
	word-wrap: break-word;
}
