
/*
 *					TABLES
 */

.table.table-striped thead th {
   
  white-space:wrap;
}

.hideOrDisplay
{
    /*display: inline;*/
    /*visibility: hidden;
    display: none;
    visibility: hidden;
    -webkit-appearance: none;*/
}

/*
 *				TABLE COLUMN IN %
 */

.table.table-striped thead tr th.width207 {			
	width: 20%;	
	
}

.table.table-striped thead tr th.width100 {			
	width: 40%;	
}

.table.table-striped thead tr th.width80 {			
	width: 528px;
}

.table.table-striped thead tr th.width60 {			
	width: 396px;	
}

.table.table-striped thead tr th.width50 {			
	width: 330px;	
}

.table.table-striped thead tr th.width40 {			
	width: 264px;	
}

.table.table-striped thead tr th.width30 {			
	width: 198px;		
}
.table.table-striped thead tr th.width20 {			
	width: 132px;		
}

.table.table-striped thead tr th.width25 {			
	width:165px;	
}

.table.table-striped thead tr th.width15 {			
	width: 99px;	
}

.table.table-striped thead tr th.width10 {			
	width: 66px;	
}

.table.table-striped thead tr th.width5 {			
	width: 33px;	
}

.table.table-striped thead tr th.width2 {			
	width: 2%;	
}

.table.table-striped thead tr th.restOfWidth {		
	border-right-width:0;	
}

.widthTdRow207 {
	width:20%;	
	word-wrap: break-word;	
}

.widthTdRow100 {
	width:60%;	
	word-wrap: break-word;	
}

.widthTdRow80 {
	width:80%;	
	word-wrap: break-word;	
}

.widthTdRow60 {
	width:60%;	
	word-wrap: break-word;	
}

.widthTdRow50 {
	width:50%;	
	word-wrap: break-word;	
}

.widthTdRow40 {
	width:40%;	
	word-wrap: break-word;	
}

.widthTdRow25 {
	width:25%;	
	word-wrap: break-word;
}

.widthTdRow20 {
	width:20%;	
	word-wrap: break-word;
}

.widthTdRow15 {
	width:15%;	
	word-wrap: break-word;
}

.widthTdRow15 {
	width:15%;	
	word-wrap: break-word;
}

.widthTdRow10 {
	width:10%;	
	word-wrap: break-word;
}

.widthTdRow5  {
	width:5%;	
	word-wrap: break-word;
}

.widthTdRow2  {
	width:2%;	
	word-wrap: break-word;
}

.widthTdRowRestOfWidth {
	border-right-width:0;
}





