
html {
 /*margin-top: 65px;*/
}

body {
	margin: 0 auto;
	width: 1000px;
	/*color: #1b0d0f;
	background-image: url("../images/bkgd_sandstone.png");*/
}

.navbar-fixed-top{
	 background-color: #fafafa;
	  background-repeat: repeat-x;
	  border: 1px solid #d4d4d4;
	 background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2); 
	  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*
          
   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);        
}

 .navbar-fixed-top .navbar-inner{
 	margin : 0 auto;
 	width: auto;
 	max-width:1000px;
 
 }
.sidebar-nav {
 	padding: 9px 0;
}

.special-box-login h1
{
	font-size:30px;
	margin-bottom:5px;
}
.special-box-login
{
	padding:30px;
}

.special-box-login p
{
	font-size:17px;
	line-height: 18px;
}

.form-actions
{
	 
	
}

.span9 {
  width: auto;
    margin-left: 30px;
}

.form-signin
{
	width: 270px;
}

.sidebar-nav
{
	margin-top: 0px
}

.pull-right > a[class="navbar-link"]
{
	text-decoration: underline;
}
footer
{
	text-align:center;
	/*color: #Ff8c00;*/	
}

div.form-extrainformation
	display: none;
}

.hide
{
	display:none;
}

.show
{
	display:block;
}


.leftDimension {
    width: 680px;
}

input{
    width: 270px;
}

select {
    width: 282px;
}

.select2-container {
	width: 282px;
}

.hero-unit {	
	width: 600px;
}

.table.table-striped thead
{

}

.table th, .table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;	
	padding-right: 0px;
}

.table.table-striped thead tr th
{
	/*background-color:#ad1717;
	   Safari 4-5, Chrome 1-9  
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ad1717), to(#1b0d0f)); 
	   Safari 5.1, Chrome 10+   
	background: -webkit-linear-gradient(top, #ad1717, #1b0d0f);
	   Firefox 3.6+  
	background: -moz-linear-gradient(top, #ad1717, #1b0d0f);
	  IE 10  
	background: -ms-linear-gradient(top, #ad1717, #1b0d0f);
	 Opera 11.10+  
	background: -o-linear-gradient(top,  #ad1717, #1b0d0f);
	
	color:#ecbe53;
	*/
	
	background-color:#0088cc;
	   
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088cc), to(#fffff)); 
	   
	background: -webkit-linear-gradient(top, #0088cc, #fffff);
	   
	background: -moz-linear-gradient(top, #0088cc, #fffff);
	  
	background: -ms-linear-gradient(top, #0088cc, #fffff);
	  
	background: -o-linear-gradient(top,  #0088cc, #fffff);
	
	
}


.table thead th {
    white-space: wrap;
}

.table.table-striped thead tr th.sorter
{
	font-weight:bold;
	cursor:pointer;	
}


.table.table-striped tbody tr td.noWrap{		
	border-right-width:0;
	white-space:nowrap;
}

.table.table-striped tbody tr td.breakWord{
	word-wrap: break-word;		
}

.table.table-striped thead tr th.sorter-false
{
	color:#black;
	background-color:white;
}

.tablesorter-headerAsc {
	
	background-image: url('../images/skin/sorted_asc.gif');
	background-repeat: no-repeat;
    background-position: center right;
}

.tablesorter-headerDesc {
	
	background-image: url('../images/skin/sorted_desc.gif');
	background-repeat: no-repeat;
    background-position: center right;
}


/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    width: 100%;
    margin-bottom: 20px;
}
.prop .name {
    text-align: left;
    width: 250px;
    white-space: wrap;
    float: left;
    font-weight: bold;
    /*color: #ECBE53;*/
}
.prop .value {
    text-align: left;
    width: 350px;
    float: left;
    white-space: wrap;
  
    /*color: #Ff8c00;*/
}

.clear {
	clear:both;
}


a.eye  {
	
	background:  url('../images/skin/eye.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.viewLocation  {	
	background:  url('../images/skin/location_view.png') no-repeat right center;		
	height: 16px;
    width: 16px;
    display: inline-block;    
}

a.deletee  {	
	background:  url('../images/skin/delete.png') no-repeat right center;		
	height: 16px;
    width: 16px;
    display: inline-block;    
}

a.viewLocation-disable {	
	background:  url('../images/skin/location_view_disable.png') no-repeat right center;		
	height: 16px;
    width: 16px;
    display: inline-block;    
}
	
a.addLocation {	
	background:  url('../images/skin/location_add.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.changePassword {	
	background:  url('../images/skin/change_password.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.download {	
	background:  url('../images/skin/download.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.listInformation {	
	background:  url('../images/skin/list_information.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.block {	
	background:  url('../images/skin/block.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.unblock {	
	background:  url('../images/skin/unblock.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}


a.delete {	
	background:  url('../images/skin/delete.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;  
}

a.reset {	
	background:  url('../images/skin/reset.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.addBox {	
	background:  url('../images/skin/add_box.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.boxInfo {	
	background:  url('../images/skin/boxInfo.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

 
a.softwareUpdate {	
	background:  url('../images/skin/softwareUpdate.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.logout {	
	background:  url('../images/skin/logout.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.associate {	
	background:  url('../images/skin/associate.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.edit {	
	background:  url('../images/skin/edit.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}


a.approve {	
	background:  url('../images/skin/approve.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

a.disapprove {	
	background:  url('../images/skin/disapprove.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}
.stateConnected {	
	background:  url('../images/skin/connected.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}

.stateDisconnected {	
	background:  url('../images/skin/disconnected.png') no-repeat right center;
	display: inline-block;
	height: 16px;
    width: 16px;
}
 


#uploads {
	margin: 6px 0;
	padding: 0 0 9px;
	position: relative;
	width: 340px;
}

#uploads div.fakeupload {
	background: url("../images/skin/folder_explore.png") no-repeat scroll 100% 50% transparent;
	cursor: pointer;
}
 

#uploads input.realupload {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 310px;
	z-index: 2;
}

.greenText {
	color: green;
}

.questionToolTip{
	background:  url('../images/info.png') no-repeat right center;
	display: inline-block;
	height: 16px;
	   margin-left: 5px;
    width: 16px;
}


my-custom-theme {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.my-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.redText {
	color: red;
}


.field-error{
	color: #B94A48;
}

/* PAGINATION */

.pagination {
border-top: 0;
margin: 0;
padding: 0.3em 0.2em;
text-align: center;
-moz-box-shadow: 0 0 3px 1px #AAAAAA;
-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
box-shadow: 0 0 3px 1px #AAAAAA;
background-color: #0088CC;
}

.pagination a,
.pagination .currentStep {
color: black;
display: inline-block;
margin: 0 0.1em;
padding: 0.25em 0.7em;
text-decoration: none;
-moz-border-radius: 0.3em;
-webkit-border-radius: 0.3em;
border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
/*background-color: #999999;*/
color: #ffffff;
outline: none;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
background-color: transparent;
color: #444444;
text-decoration: underline;
}

.select2-container .select2-choice span {
    color: #000000;
}

.max-height-200{ height: 200px; }
.max-height-400{ max-height: 400px; }
.vertical-scroll { overflow-y: scroll; }

 .breakWordIntoDiv{
	-ms-word-break: break-all;
    word-break: break-all;

 	/* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
           
     white-space: normal;
     
    text-align: left;
	float: left;
	width: 450px;
}

h4 {
	text-align: center;
}
