element {
  --main-bg-color: #006dcc;
}

.logo_infoapp {background: url(../img/AudioEverywhere-Logo-29x29.png) 10px center no-repeat;}

.btn-primary {background: #006dcc;color: #ffffff;}

#first h1, #second h1, #third h1 {color: #006dcc;}

.company .header {background-color: #006dcc;}

.required{border:solid 1px #006dcc;}

.select2-container .select2-choice {border: 1px solid #006dcc;}
.select2-container-active .select2-choice,.select2-container-active .select2-choices {border: 1px solid #006dcc;}
.scheduler > ul.months li.selected { background-color: #006dcc; }
a.file-input-wrapper{background-color:#006dcc;color: #f1f1f1;border: 1px solid #FFB561;}
a.file-input-wrapper:hover{background-color:#FFB561;border: 1px solid #006dcc;color: #006dcc;}
.scheduler > ul.months li.selected { background-color: #006dcc; }
#tabs li a {border: 1px solid #006dcc;color: #000;background: #006dcc;}
.tab-section {padding: 10px;border: 1px solid #006dcc;}
footer a:hover {color: #006dcc;}
.form-control {border-top-color: #006dcc!important;border-bottom-color: #006dcc!important;border-right-color: #006dcc;border-left-color: #FFF;}
#map-container {border: 1px solid #006dcc;}

#internal-content thead {/*color: #000;background: #006dcc;*/
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #689DCC 0%, #006DCC 45%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #689DCC 0%, #006DCC 45%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #689DCC 0%, #006DCC 45%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #689DCC), color-stop(0.5, #006DCC));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #689DCC 0%, #006DCC 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #689DCC 0%, #006DCC 45%);

}
input.file {border: 1px solid #006dcc;color: #878787;}
.nu-cutomer input.file {border: 1px solid #006dcc;	color: #878787;}
.home-brand-heading {color: #006dcc;}
::-moz-selection {background: #006dcc; color:#fff;}
::selection {background: #006dcc; color:#fff;}
.pick-a-color-markup .hex-pound{background: #FFF;border-top-color: #006dcc;border-bottom-color: #006dcc;border-left-color: #006dcc;}
.input-group-btn .color-dropdown {background-color: #fff;border-top-color: #006dcc!important;border-right-color: #006dcc!important;border-bottom-color: #006dcc!important;border-left-color: #006dcc!important;}
table.dataTable thead th {color: #fff!important;}
.gn-menu-main ul li:hover {background: url(../img/arrow.png) #006dcc right center no-repeat;}
footer a {text-decoration: underline; color: #000;}
footer{color: #000;}

.navbar-custom .nav li a {
color: #000;
}
.form-bordered {border: thin solid #006dcc;}

.tablet-container-vert .wa-text {color: #fff; background-color: #690E10;}
.tablet-container-vert .wa-img {background-image: url('../img/friends-bar.png');}
.tablet-container-hori .wa-text {color: #fff; background-color: #690E10;}
.tablet-container-hori .wa-img {background-image: url('../img/friends-bar.png');}
.phone-container-vert .wa-text {color: #fff; background-color: #690E10;}
.phone-container-vert .wa-img {background-image: url('../img/friends-bar.png');}
.phone-container-vert .wa-up-fill { background-color: #690E10;}

.gridster li header { background:#515151; color:#fff; border-bottom:1px solid #515151;}

/* Messi Window Messages */
.messi-titlebox {
	background-color: #006dcc; 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #006dcc), color-stop(0.75, #0E5390));
	background-image: linear-gradient(bottom, #006dcc 25%, #575757 75%);
	background-image: -moz-linear-gradient(bottom, #006dcc 25%, #575757 75%);
	background-image: -o-linear-gradient(bottom, #006dcc 25%, #575757 75%);
	background-image: -webkit-linear-gradient(bottom, #006dcc 25%, #575757 75%);
	background-image: -ms-linear-gradient(bottom, #006dcc 25%, #575757 75%);
}
#internal-content h4 {color: #275e7e;}