body {
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #fff;
	background-color: #FFF;
	font-size: 12px;
	background:url(../img/broken-phone.png) no-repeat right bottom;
	background-size:40% auto;
}
html {
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
}
h1{
	background:url(../img/logo-bg-404.png) left top no-repeat;
	height:206px;
	padding:7.3% 0 0 206px;
	color:#000;
	width:350px;
	letter-spacing:-1px;
	font-size:46px;
	line-height:1;
	margin-bottom:35px;
	
	}
p {
	margin: 0 0 10px 0;
	font-size: 16px;
	line-height: 1.25;
	color: #000;
}
a{
	text-decoration:underline;
	font-weight:400;
	color:#000;
}
a:hover{
	text-decoration:none;
	color:#e67b00;
}
strong{
	color:#e67b00;
	}
.row{
	margin:18% 6% 0 6%;
	}
footer {
	/*	z-index: 99;*/
	bottom: 0;
	position: fixed;
	text-align: right;
	width: 100%;
	display: block;
	padding: 10px;
	color: #333;
}
footer a {
	text-decoration: underline;
	color: #000;
}
footer a:hover {
	text-decoration: underline;
	color: #CCC;
}

/******************Media Queries Form 480px to 767px*****************/
@media all and (min-width:480px) and (max-width:767px)  {
body {
	background:url(../img/broken-phone.png) no-repeat center 88%;
	background-size:75% auto;
}
.row{
	margin:5% 6% 0 6%;
}
h1{
	background:url(../img/logo-bg-404.png) center top no-repeat;
	height:235px;
	padding: 220px 0 0 0;
	width:100%;
	text-align:center;
}

p {
	font-size: 12px;
	text-align:center;
}
footer{
	text-align:center;
}
}


/******************Media Queries From 768px to 1023px*****************/

@media all and (min-width:768px) and (max-width:1023px)  {
body {
	background:url(../img/broken-phone.png) no-repeat right 88%;
	background-size:75% auto;
}
.row{
	margin:5% 2% 0 2%;
}
h1{
	height:206px;
	padding:10.5% 0 0 206px;
	width:350px;
}

p {
	font-size: 16px;
}

}
/******************Media Queries From 1024px to 1365px*****************/
@media all and (min-width:1366px) and (max-width:1680px){

}
 @-webkit-keyframes pulse {
 0 {
 -webkit-transform: scale(1);
 transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @-moz-keyframes pulse {
 0 {
 -moz-transform: scale(1);
 transform: scale(1);
}
 50% {
 -moz-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
 transform: scale(1);
}
}
::-moz-selection {
 text-shadow: none;
 background: #e67a00;
 background: rgb(230,122,0);
 color:#fff;
}
::selection {
 text-shadow: none;
 background: #e67a00;
 background: rgb(230,122,0);
 color:#fff;
}
img::selection {
 background: 0 0;
}
 img::-moz-selection {
 background: 0 0;
}
