*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	src: url("../fonts/ecoicons/ecoicons.eot");
	src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}
/* Icomoon.com */
.float-left {
	float: left;
}
.logo_infoapp {
float: left;
padding: 0 16px 0 46px;
display: block;
font-size: 1.45em;
color: #fff;
height: 60px;
line-height: 60px;
min-width: 269px;
letter-spacing: -1px;
}
.user-data {
	float: right!important;
	display: block;
	font-size: 1.45em;
	color: #fff;
	height: 60px;
	line-height: 60px;
	letter-spacing: 0;
	padding: 0 10px;
}
.under {
	text-decoration: underline;
}
.icono-onoff {
	float: right!important;
	display: block;
	height: 60px;
	width: 50px;
	text-indent: -5000px;
	background: url(../img/icono-on-off.png) center center no-repeat;
}
.container-menu {
	z-index: 99999;
	position: fixed;
	top:0;
	/*transform: translateZ(0);
    -webkit-transform: translateZ(0);*/
}

.fix-chrome-render{
	transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.titles {
	margin: 7px 0;
	display: block;
	background: #414042;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	padding-left: 15px;
	font-weight: 500;
	font-size: 15px;
}
.titles:hover {
	background: #414042!important;
}
.gn-menu-main, .gn-menu-main ul {
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #5f6f81;
	list-style: none;
	text-transform: none;
	font-weight: 300;/*
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;*/
}
/*
.gn-menu-main ul li {
	height: 34px;
	line-height: 34px;
}*/

.gn-icon{
	/*background:url(../img/sprite-menu-icons.png) no-repeat;
	padding-left:60px;*/
	color: black !important;
}
.wizard{
	background-position:12px 0;
}
.admin{
	background-position:12px -35px;
}
.unassign{
	background-position:12px -70px;
}
.create-ad{
	background-position:12px -105px;
}
.assign-com{
	background-position:12px -140px;
}
.comp-list{
	background-position:12px -175px;
}
.create-company{
	background-position:12px -210px;
}
.asign-inter{
	background-position:12px -245px;
}
.location-list{
	background-position:12px -280px;
}
.cretate-loc{
	background-position:12px -315px;
}
.esxxt-list{
	background-position:12px -350px;
}
.reg-ext{
	background-position:12px -385px;
}
.unreg-ext{
	background-position:12px -420px;
}
.soft-vers{
	background-position:12px -455px;
}
.comm-list{
	background-position:12px -490px;
}
.create-cont{
	background-position:12px -525px;
}
.manage-con{
	background-position:12px -560px;
}
.gn-menu-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-size: 13px;
	backface-visibility: hidden;
	
}
.gn-menu-main a {
	display: block;
	/*height: 100%;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 13px;*/
}
.no-touch .gn-menu-main a:hover .no-touch .gn-menu li.gn-search-item:hover, .no-touch .gn-menu li.gn-search-item:hover a {
	background: #5f6f81;
}
.gn-menu-main > li {
	display: block;
	float: left;
	height: 100%;
	text-align: center;
}
/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
	position: relative;
	width: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*.gn-menu-main > li:last-child {
		float: left;
		border-right: none;
}*/

.gn-menu-main > li > a {
	padding: 30px;
	background: url(../img/hamburger.png) center center no-repeat;
}
.gn-menu-main > li > a:hover {
	background: #000 url(../img/hamburger.png) center center no-repeat;
}
.gn-menu-main .gn-selected {
	background: #000 url(../img/close.png) center center no-repeat!important;
}
.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
}
.gn-menu-wrapper {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	/*background: #000;*/
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	transform: translateX(-60px);
}
.gn-scroller {
	position: absolute;
	overflow-y: auto;
	width: 331px;
	height: 100%;
	background: none!important;
}
.gn-menu {
	text-align: left;
	font-size: 18px;
}
.gn-menu li:not(:first-child), .gn-menu li li {
}
.gn-submenu li {
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}
.gn-submenu li a {
	color: #c1c9d1
}
input.gn-search {
	position: relative;
	z-index: 10;
	padding-left: 60px;
	outline: none;
	border: none;
	background: transparent;
	color: #5f6f81;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
 color: #5f6f81
}
 .gn-search:-moz-placeholder {
 color: #5f6f81
}
 .gn-search::-moz-placeholder {
 color: #5f6f81
}
 .gn-search:-ms-input-placeholder {
 color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder, .no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
 color: transparent
}
input.gn-search:focus {
	cursor: text
}
.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
	color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
 color: white
}
 .no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
 color: white
}
 .no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
 color: white
}
 .no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
 color: white
}
.gn-menu-main a.gn-icon-search {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
}
.gn-icon::before {
	display: inline-block;
	width: 60px;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'ecoicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.gn-icon-help::before {
	content: "\e000"
}
.gn-icon-earth::before {
	content: "\e004"
}
.gn-icon-cog::before {
	content: "\e006"
}
.gn-icon-search::before {
	content: "\e005"
}
.gn-icon-download::before {
	content: "\e007"
}
.gn-icon-photoshop::before {
	content: "\e001"
}
.gn-icon-illustrator::before {
	content: "\e002"
}
.gn-icon-archive::before {
	content: "\e00d"
}
.gn-icon-article::before {
	content: "\e003"
}
.gn-icon-pictures::before {
	content: "\e008"
}
.gn-icon-videos::before {
	content: "\e009"
}
/* if an icon anchor has a span, hide the span */

.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}
/*.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #fff;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
}

.gn-icon-menu.gn-selected::before {
		background: #fff;
}*/

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all, .gn-menu-wrapper.gn-open-part {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.gn-menu-wrapper.gn-open-all {
	width: 329px;}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
	height: 60px
}
 @media screen and (max-width: 422px) {
.gn-menu-wrapper.gn-open-all {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	width: 100%;
}
.gn-menu-wrapper.gn-open-all .gn-scroller {
	width: 130%
}
}
