body {
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 12px;
}
html {
	width: 100%;
	height: 100%;
}
.col-md-12{
	height:100%;/*
	overflow:scroll;*/
}
h1, h2, h3, h4, h5, h6 {
	/* margin: 0 0 35px;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 1.5;
}
.liten {
	font-size: 11px;
	color: #333;
	text-align: left;
	margin-top: -10px;
	float: left;
}
.liten-up {
	font-size: 11px;
	color: #333;
	text-align: left;
	margin-top: 2px;
	float: left;
}
.preview-op {
	font-size: 16px;
	color: #333;
	text-align: left;
	margin-top: 2px;
	float: left;
}
.image-preview {
	width: 350px;
	height: 140px;
	display: block;
	float: left;
	margin: 5px 0 20px 25px;
}
.left-float {
	margin: 15px 0 0 -66px;
}
hr {
	height: 1px;
	border-top: 1px #afafaf solid;
	margin: 1em 0;
	-webkit-box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.3);
	box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.3);
	clear: both;
	display: block;
}
.name-app {
	z-index: 999;
	position: relative;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
footer {
	/*	z-index: 99;*/
	bottom: 0;
	position: fixed;
	text-align: right;
	width: 100%;
	display: block;
	padding: 10px;
}
footer a {
	text-decoration: underline;
	color: #FFF;
}
footer a:hover {
	text-decoration: underline;
	color: #e67a00;
}
#azul {
	background: rgba(4,93,127,0.9);
	z-index: 9999;
	position: absolute;
}
.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.full-width .row {
	background: url(../img/fondo-div.png) no-repeat center top!important;
	display: block!important;
	padding: 2.5% 3% 170px 3%;
	height: 100%;
}
.logo-cia {
	top: 5px;
	left: 20px;
	position: relative;
	height: 145px!important;
	width: 145px;
	display: block;
	background: url(../img/logo-full.png) top center no-repeat;
	text-indent: -5000px;
	z-index: -1;
}
.action-icons {
	width: 15px;
	height: 15px;
	text-indent: -5000px;
	display: block;
	float: left;
	margin-right: 15px;
}
.view {
	background: url(../img/icons-sprite.png) center left no-repeat;
}
.edit {
	background: url(../img/icons-sprite.png) -15px center no-repeat;
}
.server {
	background: url(../img/icons-sprite.png) -30px center no-repeat;
}
.exxo {
	background: url(../img/icons-sprite.png) -45px center no-repeat;
}
/**************Forms Creation******************/
.form-signin {
	max-width: 460px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall {
	margin-top: 20px;
	padding: 40px 0px 20px 0px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.need-help {
	margin-top: 10px;
}
.new-account {
	display: block;
	margin-top: 10px;
}
.form-control {
	height: 44px;
	line-height: 44px;
	border-top-width: 1px!important;
	border-bottom-width: 1px!important;
	border-top-style: solid!important;
	border-bottom-style: solid!important;
	border-top-color: #e67a00!important;
	border-bottom-color: #e67a00!important;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #e67a00;
	border-left-color: #FFF;
	margin: 0;
	width: 101%!important;
	background: #FFF url(../img/select2.png) no-repeat right center;
	cursor: pointer;
}
/**********End of forms creator*******/
/**********Styles created to overwrite bootstrap*******/
.pick-a-color-markup {
	margin: 20px 0px;
}
.pick-a-color-markup input {
	margin: 0px!important;
}
.resize-formleft {
	padding-right: 10%;
}
.resize-formright {
	padding-left: 10%;
}
#map-container {
	width: 97.5%;
	margin: 20px auto 0 auto;
	height: 285px;
	display: block;
	border: 1px solid #e67a00;
}
.margin-center {
	margin: 0 auto;
	/*overflow:hidden!important;*/
}
.buttons-form {
	float: right;
	display: block;
}
.buttons-form input[type=button] {
	background: #010759;
	color: #ffffff;
	width: 49%;
	height: 39px;
	margin-top: 12px;
	font-size: 1.6em;
	font-weight: 100;
	cursor: pointer;
	text-shadow: 0px 1px 0px #894706;
	border: none!important;
}
.buttons-form input[type=button]:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
.form-navigator {
	display: block;
	background: rgba(36,86,119,0.8);
	padding: 0 5px;
	margin-top: 13px;
	display:block;
	overflow:hidden;
}
.form-navigator a {
	display: block;
	font-size: 14px;
	color: #FFF;
	line-height: 38px;
	height: 38px;
	border-bottom: 1px solid #485a63;
	background: url(../img/headphones.png) left center no-repeat;
	padding-left: 30px;
	text-align: left;
}
.form-navigator a:hover {
	color: #FF0;
}
.nav-under {
	z-index: -1!important;
}
.navbar-fixed-top, .container>.navbar-collapse {
	border-width: 0 0 1px;
	z-index: 9999!important;
/*	position: fixed;
*/	top:95%;
	width: 50%;
}
.navbar-nav {
	width: 500px;
	margin: 0 auto;
	float: left!important;
}
.navbar-right {
	float: left;
	width: 100%;
}
.navbar-nav>li{
	padding:0 10px;
	text-align:center;}
.navbar-custom .nav li a {
	text-transform: none!important;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	padding: 10px 6px!important;
	cursor: pointer;
	color:#fff;
}
#home-salute {
	display: table;
	margin-top: 15%;
}
#child-salute {
	display: table-cell;
	vertical-align: middle;
	width: 35%;
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 25px 50px;
	text-align: left;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	letter-spacing: -1px;
}
#wizzard {
	display: table;
	margin-top: 15%;
}
#child-wizzard {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	max-width: 614px;
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 25px 50px;
	text-align: left;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	letter-spacing: -1px;
}
#child-salute .intro-text, #child-wizzard .intro-text {
	color: #333333;
	font-size: 22px;
}
#internal-content h1 {
	color: #275e7e;
	font-weight: 100;
	font-size: 48px;
	margin: 0 0 1px 0;
	letter-spacing: -1px;
	text-align: left;
}
#internal-content thead {
	color: #000;
	background: #e67a00;
	font-weight: bold;
	border: none;
	height: 30px;
	line-height: 30px;
}
#internal-content th, #internal-content td {
	border: none;
}
#internal-content tfoot {
	display: none;
}
#internal-content p {
	font-size: 16px;
	color: #878787;
	text-align: left;
}
.dataTables_paginate {
	width: 100%;
	position: static;
	background: #275e7e;
	height: 36px;
	/*margin-top: -30px;*/
	color: #FFF!important;
	padding-right: 10px;
}
.dataTables_info {
	color: #FFF!important;
	position: absolute;
	z-index: 9;
	margin: 0 0 0 15px!important;
}
input[type="search"] {
	height: 27px;
	border: 1px solid #275e7e;
	background: url(../img/search.png) right center no-repeat #fff;
	width: 170px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	-moz-box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	height: 27px;
	line-height: 27px;
	font-size: 15px;
}
.import-locations {
	border: 1px solid #fff;
	background: url(../img/upload.png) #275e7e no-repeat right center;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	-moz-box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	box-shadow: 0px 3px 3px 0px rgba(230, 122, 0, 0.2);
	padding: 0 25px 0 10px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 15px;
	display: block;
	width: 150px;
	top: 31px;
	position: relative;
	left: 65%;
	z-index: 5;
}
.import-locations:hover {
	color: #FF0;
}
.white-popup {
	position: relative;
	background: #FFF;
	padding: 10px 20px;
	width: auto;
	max-width: 60%;
	margin: 20px auto;
}
.white-popup h1 {
	font-size: 48px;
	color: #275e7e;
	font-weight: 100;
	letter-spacing: -1px;
	margin-bottom: 16px;
}
.white-popup p {
	font-size: 16px;
	color: #878787;
	font-weight: 100;
	letter-spacing: -1px;
}
div.custom_file_upload {
	height: 40px;
	margin: 40px auto;
}
div.custom_file_upload {
	height: 40px;
	margin: 40px auto;
}
.nu-cutomer {
	margin: 19px 0!important;
}
input.file {
	width: 85%;
	height: 40px;
	border: 1px solid #e67a00;
	color: #878787;
	padding: 5px;
	outline: none;
	line-height: 40px;
	margin-right: 12px;
}
.nu-cutomer input.file {
	width: 91.7%;
	height: 40px;
	border: 1px solid #e67a00;
	color: #878787;
	padding: 5px;
	outline: none;
	line-height: 40px;
	margin-top: 0px!important;
	float: left;
}
.nu-cutomer div.file_upload {
	width: 40px!important;
	height: 36px!important;
	background: url(../img/folder-icon.png) no-repeat center center;
	display: block!important;
	position: relative!important;
	cursor: pointer;
	text-indent: -5000px;
	float: left!important;
}
.nu-cutomer div.file_upload input {
	width: 40px!important;
	height: 36px!important;
	display: block!important;
}
div.file_upload {
	width: 145px;
	height: 40px;
	background: #010759;
	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 40px;
}
div.file_upload:before {
	content: 'Upload';
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
}
div.file_upload input {
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}
/***************/
/** ScrollBar **/
/***************/
.contentTable {
	position: relative;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	height: 360px;
	overflow: hidden;
}
.contentTable .content {
	width: 99%;
}

	
/*****************/
/**Scroll**/
/*****************/


.intro {
	display: table;
	width: 100%;
	height: 95%;
	padding: 100px 0;
	text-align: center;
	z-index: 98;
	position: absolute;
	top: 0;
	left: 0;
}
.introp {
	display: table;
	width: 100%;
	height: 95%;
	padding: 100px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.introin {
	display: table;
	width: 100%;
	height: 89%;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.intro-cont {
	z-index: 999!important;
}
.intro-body {
	display: table-cell;
}
.brand-heading {
	font-size: 40px;
}
.home-brand-heading {
	font-size: 26px;
	color: #e67a00;
	text-align: left;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.intro-text {
	font-size: 18px;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}
.page-scroll .btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

/******************Media Queries Form 480px to 767px*****************/
@media all and (min-width:480px) and (max-width:767px)  {
.col-xs-6{
	width:100%;
}
.resize-formleft, .resize-formright{
	padding:0;
}
.col-md-12{
	padding-bottom:130px;
}
.nu-cutomer input.file{
	width:88%;
}
.dataTables_wrapper .dataTables_info{
	display:none;
}
.dataTables_wrapper .dataTables_paginate{
	margin-top:0!important;
}
.margin-center{
	margin:0;
	padding:0;
}
#main{
	padding-top:10%;
	}
#register {
	clear: both!important;
	margin: 12px auto!important;
	width: 100%!important;
}
.navbar-nav li {
	padding: 0 4px!important;
	max-height: 55px;
}
#first {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
#second {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
#third {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
.contentHolder, .contentHolder .content, .contentHolder .content form {
	width: 400px!important;
}
p {
	font-size: 1em;
	line-height: auto;
}
a {
	color: #069;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
	color: #176e61;
}
.light {
	font-weight: 400;
}
.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #000;
	width: 100%;
	height: 44px;
	left: 0;
	z-index: 999;
	padding: 0;
	position: absolute;
	bottom: 320px;

}
.nav-under {
	z-index: 9999!important;
	width:100%;
}
.navbar-nav {
	 width: 100%;
	 padding:0 !important;
	 float: left!important;
	 margin-left:10px;
}

.navbar-nav li {
	 width: 20%;
	 float: left!important;
	 text-align:center;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	color:#FFF;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
	outline: 0;
	background-color: rgba(255,255,255,.2);
}
.navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-toggle:focus, .navbar-toggle:active {
	outline: 0;
}
.container>.navbar-collapse {
	top: 48px;
	left: 0;
	width:104%;
	background:#000;
	padding:0;
	max-height:55px;
	overflow:hidden;
	border:none!important;
}
.navbar-fixed-top{
	width:100%;
	top:0;
}
.intro {
	height: 97%;
	padding: 0;
}
.brand-heading {
	font-size: 100px;
}
.intro-text {
	font-size: 25px;
}
footer{
	text-align:center;}
.icono-onoff{
	width:30px!important;
}
.user-data{
	font-size:0.9em!important;}
.logo_infoapp{
	padding:0 10px 0 42px!important;}
#child-salute .intro-text, #child-salute .intro-text{
	font-size:17px!important;}
.logo-cia{
	width:60px;
	height:60px;
	background-size:100% auto;
	top:0;
	}
.import-locations{
	left:0;
	width:100%;
}
#example_filter{
	width:100%;
	margin-top:1px;
}
#example_filter label{
	width:100%;
	display:block;
}
#example_filter input{
	width:87%;
	margin-top:15px;
}
.full-width{
	padding:0;}
.full-width .row {
background: rgba(255,255,255,0.5)!important;
padding: 13% 3% 0px 3%;
height: 100%;
overflow: auto;
}
.col-md-8 .col-xs-6{
	width:100%;
}
.form-navigator a{
	width:45%;
	float:left;
	margin:0 1%;
	display:block;
	}
.buttons-form{
	width:100%;
}
}


/******************Media Queries From 768px to 1023px*****************/

@media all and (min-width:768px) and (max-width:1023px)  {
.col-xs-6{
	width:100%;
}
.resize-formleft, .resize-formright{
	padding:0;
}
.nu-cutomer input.file{
	width:91%;
}
p {
	font-size: 1em;
	line-height: auto;
}

.nav-under {
	z-index: 9999!important;
	width:100%;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	color:#FFF;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
	outline: 0;
	background-color: rgba(255,255,255,.2);
}
.navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-toggle:focus, .navbar-toggle:active {
	outline: 0;
}
#register {
 clear: both!important;
margin: 12px auto!important;
width: 100%!important;
}
#login {
 margin:15px 10% 0 10%;
}
#main {
 max-width: 420px;
 width: 90%!important;
}
.intro {
 padding: 130px 0;
}
.intro-body .container {
 padding: 0!important;
}
.intro-body .row {
 width: 99%!important;
 margin: 0 auto;
}
.skin {
width: 100%!important;
float: none!important;
}
#one {
float:right;
}
.navbar-toggle {
 z-index: 9999999!important;
}
.container>.navbar-header {
 margin: 0!important;
}
.navbar .container {
 margin: 0;
 padding: 0;
}
.navbar-fixed-top {
 height: 40px;
}
.hidden {
 display: none;
}
.navbar-fixed-top, .container>.navbar-collapse {
 position: fixed;
 top: 0!important;
 width: 100%;
 left: 0;
 z-index: 99999!important;
 border: none;
 margin: 0;
 height: 40px!important;
 overflow: hidden;
 padding: 0!important;
}
.navbar-nav {
 width: 100%;
 margin: 3px 0 0 0 !important;
 float: left!important;
}
.navbar-nav li {
 padding: 0 10px;
 float: left!important;
 text-align: center;
 width:20%;
}
 #first h2, #second h2, #third h2 {
 font-size: 13px!important;
}
p, .skin a, .skin label {
 font-size: 12px!important;
}
footer {
 text-align: center;
 padding: 0!important;
}
ul.banner-social-buttons>li {
 display: block;
 margin-bottom: 20px;
 padding: 0;
}
ul.banner-social-buttons>li:last-child {
 margin-bottom: 0;
}
.navbar {
 padding: 20px 0;
 border-bottom: 0;
 letter-spacing: 1px;
 background: 0 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
 padding: 0;
 background-color: #000;
}
.navbar-custom.top-nav-collapse {
 border-bottom: 1px solid rgba(255,255,255,.3);
}
.content-section {
 padding-top: 250px;
}
.download-section {
 padding: 100px 0;
}
#map {
 height: 400px;
 margin-top: 250px;
}
#child-salute .intro-text, #child-salute .intro-text{
	font-size:17px!important;}
.import-locations{
	left:40%!important;
}
.col-md-12{
	padding-bottom:150px;
}
.form-navigator a{
	width:45%;
	float:left;
	margin:0 1%;
	display:block;
	}
.buttons-form input[type=button]{
	width:99%;
}
}
/******************Media Queries From 1024px to 1365px*****************/
@media all and (min-width:1024px) and (max-width:1365px){

.navbar-fixed-top{
	top:95%!important;
}
#register {
	clear: both!important;
	margin: 12px auto!important;
	width: 100%!important;
}
.navbar {
	padding: 0;
	height: 50px;
	left: 0;
	z-index:999999!important;
	width: 70%;
	margin:0;
}
.navbar-nav {
width: 100%;
}
.container>.navbar-collapse {
	left: 0;
}
.container>.navbar-collapse  {
width: 100%;
}
.navbar-nav>li{
	padding:0 15px;}
	
.navbar-custom .nav li a{
	color:#FFF;}
p {
	font-size: 1em;
	line-height: auto;
}
.intro {
	padding: 120px 0;
}
.import-locations{
	left:50%;
}
.col-md-12{
	padding-bottom:150px;
}
}
/******************Media Queries From 1024px to 1365px*****************/
@media all and (min-width:1366px) and (max-width:1680px){
p {
	font-size: 1em;
	line-height: auto;
}
.intro {
 padding: 50px 0;
}
.navbar-custom .nav li a{
	color:#FFF;}
.navbar-nav {
width: 80%;
margin: 0 auto;
float: left!important;

}
.navbar-nav>li {
float: left;
width:20%;
text-align:center;
}
.navbar-fixed-top{
	top:95%;
	z-index:99999!important;
	float:left;
	left:0;
}
.container>.navbar-collapse{
	width:65%;}
.col-md-12{
	padding-bottom:150px;
}
.full-width .row{
	padding:2.5% 3% 70px 3%;
	margin:80px 0 0 0;
}
}
 @-webkit-keyframes pulse {
 0 {
 -webkit-transform: scale(1);
 transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @-moz-keyframes pulse {
 0 {
 -moz-transform: scale(1);
 transform: scale(1);
}
 50% {
 -moz-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
 transform: scale(1);
}
}
.content-section {
	padding-top: 100px;
}
.download-section {
	width: 100%;
	padding: 50px 0;
	color: #fff;
	background: url(../../img/downloads-bg.jpg) no-repeat center center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#map {
	width: 100%;
	height: 200px;
	margin-top: 100px;
}
.btn {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn-default {
	border: 1px solid #28c3ab;
	color: #069;
	background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
	border: 1px solid #28c3ab;
	outline: 0;
	color: #000;
	background-color: #28c3ab;
}
.btn-huge {
	padding: 25px;
	font-size: 26px;
}
.banner-social-buttons {
	margin-top: 0;
}
::-moz-selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255,255,255,.2);
}
::selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255,255,255,.2);
}
img::selection {
 background: 0 0;
}
 img::-moz-selection {
 background: 0 0;
}
body {
 webkit-tap-highlight-color: rgba(255,255,255,.2);
}
