 @media(max-width:480px) {
#register {
	clear: both!important;
	margin: 12px auto!important;
	width: 100%!important;
}
.navbar-nav li {
	padding: 0 4px!important;
}
#first {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
#second {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
#third {
	margin: -120px auto 0 auto!important;
	margin-left: 0px!important;
	position: relative!important;
}
.contentHolder, .contentHolder .content, .contentHolder .content form {
	width: 350px!important;
}
}
 @media(max-width:767px) {
p {
	/* margin: 0 0 35px;*/
	font-size: 1em;
	line-height: auto;
}

a {
	color: #069;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
	color: #176e61;
}
.light {
	font-weight: 400;
}
.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #000;
	width:100%;
}
.navbar-brand {
	font-weight: 700;
}
.navbar-brand:focus {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
	outline: 0;
	background-color: rgba(255,255,255,.2);
}
.navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-toggle:focus, .navbar-toggle:active {
	outline: 0;
}
#register {
	clear: both!important;
	margin: 12px auto!important;
	width: 100%!important;
}
.navbar {
	padding: 0;
	height: 50px;
	position: absolute;
	bottom: 320px;
	left: 0;
	z-index:999;
}
.navbar-fixed-top, .container>.navbar-collapse {
	bottom: 300px;
	left: 0;
}
.nav-under{
	z-index:9999!important;}
}
.intro {
	display: table;
	width: 100%;
	height: 95%;
	padding: 100px 0;
	text-align: center;
	z-index: 98;
	position: absolute;
	top: 0;
	left: 0;
}
.introp {
	display: table;
	width: 100%;
	height: 95%;
	padding: 100px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.introin {
	display: table;
	width: 100%;
	height: 89%;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.intro-cont {
	z-index: 999!important;
}
.intro-body {
	display: table-cell;
}
.brand-heading {
	font-size: 40px;
}
.home-brand-heading {
	font-size: 26px;
	text-align: left;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.intro-text {
	font-size: 18px;
}
 @media and all and (min-width:480px) and (max-width:768px) {
.intro {
	height: 97%;
	padding: 0;
}
.brand-heading {
	font-size: 100px;
}
.intro-text {
	font-size: 25px;
}
}
.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}
.page-scroll .btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
 @-webkit-keyframes pulse {
 0 {
 -webkit-transform: scale(1);
 transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @-moz-keyframes pulse {
 0 {
 -moz-transform: scale(1);
 transform: scale(1);
}
 50% {
 -moz-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
 transform: scale(1);
}
}
.content-section {
	padding-top: 100px;
}
.download-section {
	width: 100%;
	padding: 50px 0;
	color: #fff;
	background: url(../../img/downloads-bg.jpg) no-repeat center center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#map {
	width: 100%;
	height: 200px;
	margin-top: 100px;
}
.btn {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn-default {
	border: 1px solid #28c3ab;
	color: #069;
	background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
	border: 1px solid #28c3ab;
	outline: 0;
	color: #000;
	background-color: #28c3ab;
}
.btn-huge {
	padding: 25px;
	font-size: 26px;
}
.banner-social-buttons {
	margin-top: 0;
}
@media (min-width: 1024px) {
#register {
	clear: both!important;
	margin: 12px auto!important;
	width: 100%!important;
}
.navbar {
	padding: 0;
	height: 50px;
	position: relative;
	bottom: 320px;
	left: 19%;
}
.navbar-fixed-top, .container>.navbar-collapse {
	bottom: 120px;
	left: 25%;
}
@media (min-width: 1360px) {
 .navbar-fixed-top, .container>.navbar-collapse {
bottom: 5%;
}
 @media(max-width:1199px) {
ul.banner-social-buttons {
 margin-top: 15px;
}
}
 @media(min-width:767px) {
#register {
 clear: both!important;
margin: 12px auto!important;
width: 100%!important;
}
#login {
 margin:15px 10% 0 10%;
}
#main {
 max-width: 420px;
 width: 90%!important;
}
.intro {
 padding: 50px 0;
}
.intro-body .container {
 padding: 0!important;
}
.intro-body .row {
 width: 99%!important;
 margin: 0 auto;
}
.skin {
width: 100%!important;
float: none!important;
}
#one {
float:right;
}
.navbar-toggle {
 z-index: 9999999!important;
}
.container>.navbar-header {
 margin: 0!important;
}
.navbar .container {
 margin: 0;
 padding: 0;
}
.navbar-fixed-top {
 height: 40px;
}
.hidden {
 display: none;
}
.navbar-fixed-top, .container>.navbar-collapse {
 position: fixed;
 top: 0!important;
 width: 100%;
 left: 0;
 z-index: 99999!important;
 border: none;
 margin: 0;
 height: 40px!important;
 overflow: hidden;
 padding: 0!important;
}
.navbar-nav {
 width: 97%;
 margin: 3px 0 0 0 !important;
 float: left!important;
}
.navbar-nav li {
 padding: 0 19px;
 float: left!important;
 text-align: center;
}
 #first h2, #second h2, #third h2 {
 font-size: 13px!important;
}
p, .skin a, .skin label {
 font-size: 12px!important;
}
footer {
 text-align: center;
 padding: 0!important;
}
ul.banner-social-buttons>li {
 display: block;
 margin-bottom: 20px;
 padding: 0;
}
ul.banner-social-buttons>li:last-child {
 margin-bottom: 0;
}
.navbar {
	padding: 20px 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: 0 0;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
	padding: 0;
	background-color: #000;
}
.navbar-custom.top-nav-collapse {
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.content-section {
	padding-top: 250px;
}
.download-section {
	padding: 100px 0;
}
#map {
	height: 400px;
	margin-top: 250px;
}
}

::-moz-selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255,255,255,.2);
}
::selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255,255,255,.2);
}
img::selection {
 background: 0 0;
}
 img::-moz-selection {
 background: 0 0;
}
body {
 webkit-tap-highlight-color: rgba(255,255,255,.2);
}
