body {
	  background-image: url(../../exxo/img/sliderexa/empty-background.jpg);
}
.mye-body-background { background-image: url(../../default/img/sliderexa/people-mod-2.jpg) !important; background-size:cover;}

.form-block-title{margin-top: 20px;color: #000; font-weight: 800; font-size: 1.2em; letter-spacing: 0px; text-align: left;}
.error-list li {text-align: left;}
#child-salute .message{font-size: 18px; color: #000;}
#btn-my-account, #btn-logout, #btn-homepage {cursor: pointer;}
.form-btn {
display: inline-block;
line-height: 39px;
margin-top: 12px;
color: #333333;
text-align: center;
vertical-align: middle;
font-size: 1.6em;
font-weight: 100;
cursor: pointer;
text-shadow: 0px 1px 0px #894706;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #cccccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.btn-primary {
border: none!important;
width: 200px;
height: 42px;
margin-top: 12px;
font-size: 1.6em;
font-weight: 100;
cursor: pointer;
text-shadow: 0px 1px 0px #894706;
border: none!important;}

.btn-primary-large {
width: 275px !important;
}

.btn-primary:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
table.dataTable.display tbody td {text-align: left;}

.select2-container .select2-choice > .select2-chosen {vertical-align: middle; padding-left: 5px;}
#internal-content h1 {margin-bottom: 15px;}
.exxo-form .input-checkbox{line-height: 30px; height: 30px; margin-top: 5px; width: 20px; display: block;}
.exxo-form .input-table{color: black; font-size: 15px; text-align: left; background-color: #fff; width: 100%; margin-bottom: 0px;}
.exxo-form .input-textarea{margin-top: 5px; width: 100%;}
.form-info {color: black; font-size: 15px; background-color: #fff; padding: 10px 0; opacity: 0.7;}
.form-info .field-label{width: 100%; text-align: right; font-weight: bold;}
.form-info .field-value{width: 100%; text-align: left;}
.text-to-right{text-align: right !important;}
.text-to-left{text-align: left;}
/*#table-list {margin-bottom: 30px;}*/
.exxo-table {color: #000; text-align: left; margin-bottom: 0px;}
.exxo-table td {text-align: left;}
.vertical-scroll {overflow-y: scroll;}
.exxo-table-container {max-height: 300px; overflow-y: scroll; margin-top: 16px; border: solid 1px; border-color: #275e7e; width: 50%;}
.exxo-table-container-full-width {max-height: 300px; overflow-y: scroll; margin-top: 5px; border: solid 1px; border-color: #275e7e; width: 100%;}
.questionToolTip {background: url('../img/info.png') no-repeat right center;display: inline-block;height: 16px;margin-left: 5px;width: 16px;}

.alert-error { color: #FCFCFC; background-color: #FD2032; border-color: #d6e9c6; margin-bottom: 0px;}
.alert-error ul {text-align: left;}

.state {display: inline-block; height: 16px; width: 16px;}
.stateDisconnected {background: url('../img/disconnected.png') no-repeat right center;}
.stateConnected {background: url('../img/connected.png') no-repeat right center;}
.stateGreen {background: url('../img/icons/status-green.png') no-repeat right center;}
.stateGray {background: url('../img/icons/status-gray.png') no-repeat right center;}

.redText {color: red;}
.greenText {color: green;}

/* Icons */
.owner {background: url('../img/icons/user_16.png') no-repeat;}
.change-role {background: url('../img/icons/user_change.png') no-repeat;}
.view {background: url('../img/icons-sprite.png') -0px 0px no-repeat;}
.edit {background: url('../img/icons-sprite.png') -15px 0px no-repeat;}
.server {background: url(../img/icons-sprite.png) -30px 0px no-repeat;}
.exxo {background: url(../img/icons-sprite.png) -45px 0px no-repeat;}
.softwareUpdate {background: url(../img/icons-sprite.png) -60px 0px no-repeat;}
.delete {background: url(../img/icons-sprite.png) -75px 0px no-repeat;}
.deleteLog {background: url(../img/icons-sprite.png) -75px 0px no-repeat;}
.block {background: url(../img/block.png) no-repeat;}
.unblock {background: url(../img/unblock.png) no-repeat;}
.associate {background: url(../img/icons-sprite.png) -90px 0px no-repeat; }
a.download {background: url(../img/icons-sprite.png) -105px 0px no-repeat; }
a.resetToFactory {background: url(../img/icons-sprite.png) -120px 0px no-repeat; }
a.unassign {background: url(../img/icons-sprite.png) -135px 0px no-repeat; }
/* 2 row of icons */
.changePassword { background: url(../img/icons-sprite.png) -0px -15px no-repeat; }
.addLocation { background: url(../img/icons-sprite.png) -15px -15px no-repeat; }
.viewLocation { background: url(../img/icons-sprite.png) -30px -15px no-repeat; }
a.viewLocation-disable { background: url(../img/icons-sprite.png) -30px -15px no-repeat; opacity: 0.4;
    filter: alpha(opacity=40); /* msie */}
a.approve { background: url(../img/icons-sprite.png) -45px -15px no-repeat; }
a.disapprove { background: url(../img/icons-sprite.png) -60px -15px no-repeat; }
a.reset { background: url(../img/icons-sprite.png) -75px -15px no-repeat; }
a.restore { background: url(../img/rest-data3.png) no-repeat; }
a.listInformation { background: url(../img/icons-sprite.png) -90px -15px no-repeat; }
a.users {background: url(../img/icons-sprite.png) -105px -15px no-repeat; }
a.users-add {background: url(../img/icons-sprite.png) -120px -15px no-repeat; }
/* 3 row of icons */
a.addBox {background: url(../img/icons-sprite.png) -30px 0px no-repeat;}
a.boxInfo {background: url(../img/icons-sprite.png) -45px 0px no-repeat;}

input[readonly="readonly"], .exxo-form .input-textarea[readonly="readonly"] {
/*background-color: #f4f4f4;
background-image: none;
border: 1px solid #ddd;*/
}

/* Box for background color of channels */
.channel-color {width: 16px; height: 16px; display: block; border: solid 1px;}

/* Table to assign locations to custom buttons */
.company .header {border-color: #000;width: 100%; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088cc), to(#fffff));background: -webkit-linear-gradient(top, #0088cc, #fffff);background: -moz-linear-gradient(top, #0088cc, #fffff);background: -ms-linear-gradient(top, #0088cc, #fffff);background: -o-linear-gradient(top, #0088cc, #fffff);height: 26px;line-height: 26px;vertical-align: middle;font-weight: 600;}
.company .header label {display: block;float: left;padding-left: 15px;line-height: 26px;height: 26px;text-align: left;margin-bottom: -5px;font-weight: 600;margin-top: 0px;width: auto;}
.minus {background: url('../img/toggle_minus.png') no-repeat right center;display: inline-block;height: 26px;width: 16px;float: right;}
.plus {background: url('../img/toggle_plus.png') no-repeat right center;display: inline-block;height: 26px;width: 16px;float: right;display: none;}
.rowHelp {font-size: 10px;float: right;color: white;}
.company .locationContainer .even {background-color: #fff;}
.company .locationContainer .odd {background-color: #ECEBEB;}
.company .location {float: left;width: 100%;height: 26px;line-height: 26px;vertical-align: middle;color: #999999;font-weight: bold;}
.company .location label {margin-bottom: 0;padding-left: 55px;text-indent: -15px;line-height: 28px;margin-bottom: -5px;height: 28px;margin-top: 0px; text-align: left; font-weight: 100; color: #999999;}
.company input[type=checkbox] {width: 13px;height: 13px;padding: 0;margin-right: 5px;/* vertical-align: bottom; */position: relative;top: 1px;}
/*.color input{display: inline-block; width: 90%;}*/
.color .add-on-fix {display: inline-block;
/*margin-left: -4px;*/
border-radius: 0 4px 4px 0;
/* line-height: 46px; */
/* text-align: center; */
/* text-shadow: 0 1px 0 #ffffff; */
background-color: #eeeeee;
border: 1px solid rgb(230,122,0);
height: 30px;
min-width: 35px;
/* padding: 2px 2px; */
/* font-size: 14px; */
/* font-weight: normal; */
/* margin-top: 0px; */
top: 10px;
position: relative;
/* padding-top: 15px; */
}
.input-color-selector-box {display: block; cursor: pointer; width: 29px; height: 41px;}
.color-wrapper{display: table;width: 100%;}
.color-wrapper .input {width: auto;height: 30px;display: table-cell;}
.color-wrapper .color-box {display: table-cell;height: 30px;width: 33px;}
    
.gm-style .gm-style-iw {color: black;}

.large-image-frame {
text-align: left;
background: white;
border: 1px #bbb solid;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
padding: 0.3em 0.3em 0.3em;
display: inline-block;
width: 90px;
height: 35px;
}
.small-image-frame {
text-align: left;
background: white;
border: 1px #bbb solid;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
padding: 0.3em 0.3em 0.3em;
display: inline-block;
width: 28px;
height: 35px;
}
#channels-table textarea {height: 50px;}
#channels-table .odd {background-color: rgb(223, 216, 216);}

.scheduler {
	width: 430px;
	background: #f0f0f0 url("../img/clock2.png") 330px 95px no-repeat;
	color: #4F4D4E;
	margin: 5px 0;
	border-radius:12px;font-size: 12px;
}

.scheduler > span {	font-size: 10px; margin: -4px 0 7px 6px;	display: block; font-weight: bold;	height: 80px; }

.scheduler .date-format{height: 10px; margin: -4px 0 7px 18px;}

.scheduler > span strong {
	color :#4f4649;
}

.scheduler> ul, 
.scheduler > div > ul{
	display:block;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 5px !important;
	text-align:center;
}

.scheduler > ul > li,
.scheduler > div > ul > li{
	display: inline-block;
	width: 30px;
	height: 25px;
	border: 1px solid #999999;
	cursor: pointer;
	padding-top: 4px;
}

.scheduler > ul.months li:hover,
.scheduler > ul.months li.selected,
.scheduler > ul.days li:hover,
.scheduler > ul.days li.selected,
.scheduler ul.hours li:hover,
.scheduler ul.hours li.selected {
 	color: #fff;
}


.scheduler > ul.days li.selected   { background: #010759 url("../img/check.png") 40px 10px no-repeat; }
.scheduler ul.hours li.selected    { background-color: #5E5E5E; }

.scheduler > ul.months li:hover { background-color: #FFB561; }
.scheduler > ul.days li:hover   { background-color: #3276b1; }
.scheduler ul.hours li:hover, .scheduler > ul.hours_range li    { background-color: #ccc; }

.scheduler > ul.days li{ width: 13%; margin:0 2px;   }

.scheduler > ul.range{
		height:40px;
}

.scheduler > ul.range li {
	width: 49%;
	height:35px;
	padding: 0 !important;
	border:none;
}

.scheduler > ul.range li label{
	width: 30%;
	margin-right:10px;
}

.scheduler > ul.range li input{
	width: 60%;
	margin: 10px 0 0;
}

.scheduler > ul.days {
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
	margin: 5px 0 3px 0;
	height: 38px;
}

.scheduler > ul.hours {
  position: relative;
  list-style: none;
}

.scheduler ul.hours li {
  position: relative;
  display: block;
  float: left;
  margin: 0 2px;
  padding: 0;
  width: 20px;
  text-align: center;
  line-height: 25px;
}

.scheduler .final-scheduler-msg {color: red; padding-left: 7px;}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
}

.scheduler > ul.hours_range {
  height: 40px;
  text-align: left;
}

.scheduler > ul.hours_range li {
 width: 32%;
 text-align:center;
}

.scheduler > ul.hours_range li.description {
 width: 10% !important;
 background-color: #5E5E5E;
 color: #fff;
 margin: 0;
 cursor: default;
}

.scheduler > ul.hours_range {}
.scheduler > ul.hours_range li {
	height: 28px; padding-top: 0px; text-align: left; padding-left:5px; width: 77%; margin-left: 8px;
}
.scheduler > ul.hours_range li label{
    /*height: 50px;*/
    margin: 0px;
}
.scheduler > ul.hours_range li label:FIRST-CHILD { margin-left: 0px;}
.scheduler > ul.hours_range li label{
	width:auto; font-size:12px; line-height:25px; margin-left: 10px; margin-right: 5px;
}
.scheduler > ul.hours_range li input {
    width:70px;
}

.scheduler > ul.hours_range li span{
	width: 20%;
	margin: -6px 10px 0 0;
}

.scheduler > ul.hours_range li select option{
	width: 30%;
	text-align: right;
}

.scheduler > ul.hours_range li select {
	margin-top:-1px;
}

.scheduler > ul.hours_range li input {
    width: 65px; height: 16px;
    margin-top: 4px;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}


a.control_prev, a.control_next {
  position: absolute;
  z-index: 999;
  display: block;
  margin-top: 7px;
  padding: 2px 4px;
  width: 24px;
  height: 22px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.8;
  cursor: pointer;
  text-align:center;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev { border-radius: 0 2px 2px 0; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.ad-background-img{width: 100px; height: 65px;}
/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder .preview-pane {display: block; position: absolute; z-index: 2000; left: -175px; top: 75px; padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;background-color: white;-webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
.preview-pane .preview-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

/* Defaults */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg,
.text-left-sm,
.text-left-md,
.text-left-lg { text-align: left; }

/* Define xs styles after defaults so they take precedence */
.text-center-xs { text-align: center; }
.text-right-xs { text-align: right; }
.text-left-xs { text-align: left; }

/* Small grid */
@media (min-width: 750px) {
  .text-center-sm, .text-center-xs { text-align: center; }
  .text-right-sm, .text-right-xs { text-align: right; }
  .text-left-sm, .text-left-xs { text-align: left; }
}

/* Medium grid */
@media (min-width: 970px) {
  .text-center-md, .text-center-sm, .text-center-xs { text-align: center; }
  .text-right-md, .text-right-sm, .text-right-xs { text-align: right; }
  .text-left-md, .text-left-sm, .text-left-xs { text-align: left; }
}

/* Large grid */
@media (min-width: 1170px) {
  .text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
    text-align: center;
  }
  .text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
    text-align: right;
  }
  .text-left-lg, .text-left-md, .text-left-sm, .text-left-xs {
    text-align: left;
  }
}
/**************************************************/


/**************************************************/
.hide {display: none;}

.ajaxFlow .waiter .player {
display: inline-block;
zoom: 1;
position: relative;
top: 40%;
left: 25%;
height: 100px;
background-color: white;
z-index: 100001;
-moz-border-radius: 15px;
border-radius: 15px;

}

.channels{text-align: left;}

.select2-hidden-accessible {display: none;}


a.file-input-wrapper{
	margin: 5px 0;
}


.scheduler > ul.days li.selected   { background: #010759 url("../img/check.png") 40px 10px no-repeat; }
.scheduler ul.hours li.selected    { background-color: #5E5E5E; }

.scheduler > ul.months li:hover { background-color: #FFB561; }
.scheduler > ul.days li:hover   { background-color: #3276b1; }

#uploads div.fakeupload {background: url("../img/folder_explore.png") no-repeat scroll 100% 50% transparent; cursor: pointer;}
#uploads input.imgUploadSelector {opacity: 0; margin-top: -35px; right: 0; width: 100%; z-index: 2; height: 35px;}

.clearfix{content:"";display:table;clear:both !important;}

.uppercase{text-transform: uppercase;}

#tabs {margin: 0;overflow: hidden;padding: 0;zoom: 1;position:relative;top:2px;z-index: 1;}
#tabs li {display: block;list-style: none;margin: 0;margin-right: 1px;padding: 0;float: left;}
#tabs li a {display: block;padding: 2px 10px;border-bottom: 0 none;text-align: center;text-decoration: none;font-weight: bold;height: 28px;line-height: 26px;vertical-align: middle;}
.tab-section {padding: 10px;}
#tabs li a.current {color: #275e7e; background-color: #fff; opacity: 0.7; border-bottom: 1px solid #fff;}

.usageReportTabs{	
	overflow:hidden;
}

.streaminChart
{
	min-width: 510px;
	margin-top: 10px;
}

.clientChart
{
	min-width: 660px;
	margin-top: 10px;
}

.clients-table-container{
	float:left;
	width: 50%;
	min-width: 550px;
}

.align-right{
	float:right;
}

td.showDragHandle { 
  background-repeat: no-repeat;
  background-position: center center;
  cursor: move;
}

.hide{
	display:none;
}

.moveRows{
	text-align:center!important;	
	cursor: move;
}

.movedRow{	
	background-color: #c0c0c0 !important;
}

.up .down{
	cursor:pointer;
}

.left {float: left;}
.channel-images-btns {float: left; height: 30px; line-height: 30px; vertical-align: middle;}
.channel-images-btns a { margin-top: 10px; margin-left: 10px; margin-right: 0px;}
.video-requirements{color: #000; margin-top: 12px;}
.ui-dialog {z-index: 99999;}
/** tooltip image **/
.tooltipImage
{
  background: url('../img/info.png') no-repeat right center;display: inline-block;height: 16px;margin-left: 5px;width: 16px;
  text-decoration:none;
  position:relative;
}
 
 
.tooltipImage span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  text-align: left;
  background:white; 
}
 
 
.tooltipImage span img
{
  float:left;
  margin:0px 8px 8px 0;
}
 
 
.tooltipImage:hover span
{
  display:block;
  position:absolute;<br>  top:0;<br>  left:0;
  z-index:1000000;
  width:auto;
  /*max-width:320px;*/
  min-height:128px;
  
  margin-top:2px;
  margin-left:2px;
  overflow:hidden;
  padding:8px;
}

.imagesHelp, .offersHelp{
	border:medium;
	border-color: black;
	border-width: 15px;
	float: left;
	margin: 10px;
}

.featuredHelp, .thumbnailHelp, .dialogHelp , .welcomePhoneHelp, .welcomeTabletVerHelp, .welcomeTabletHorHelp{
	float: left;
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
	width: 320px;
}

.welcomeTabletTitle{
	margin-left:15px;
	font-weight: bold;
	font-size: 14px;
}

.welcomePhoneHelp{
	float: none;
	margin: auto;
	width: 320px;	
}

.welcomeTabletVerHelp, .welcomeTabletHorHelp{
	float: left;	
	width: 400px;
	padding-bottom: 15px;	
}

 .welcomeTabletHorHelp{
	float: left;	
	margin-left: 100px;
}


.noteHelp{
	margin-left: 10px;
	float: left;
	width: 90%;	
}

.floatLeft
{
	float: left;
}

.helpArrow{
	text-align:center;
	float: left;
	position: relative;
	top: 45px;
	width: 140px;	
}

.helpRight{
	float: right;
}
.helpLeft{
	float: left;
}

.centerText{
	text-align: center;
}

.mainColorBottom
{
	position: absolute;
top: 335px; left: 10px;
}

.helpMoreInfo{
	text-align:center;
	float: left;
	margin-top: 160px;	
	width: 140px;	
}

.helpsColorSec{
	text-align: center;
position: absolute;
top: 125px;
left: 48px;
}

.helpsOfferDialog{
	text-align:center;
	float: left;
	margin-top: 124px;	
	width: 140px;	
}


.helpURL{
	text-align:center;
	float: left;
}

.helpURLArrow{
	text-align:center;
	float: left;
	position: relative;
	left: 157px;
	top: -50px;	
}

.helpAppSkinSColorArrow{
	text-align:center;
	float: left;
	position: relative;
	right: 213px;
	top: 33px;
}

.helpAppSkinPColorArrow{
position: absolute;
top: 60px;
width: 140px;
left: 265px;
}


/**** content help tabs ***/

article.tabs
{
	position: relative;
	display: block;		
	width:100%;
	height:100%;
	
}

article.tabs section
{
	position: absolute;
	width:100%;
	display: block;
	top: 1.8em;
	left: 0;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
}

article.tabs section:first-child
{
	z-index: 1;
}


article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2
{
	left: 132px;
}

article.tabs section:nth-child(3) h2
{
	left: 254px;
}

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

/*#tab1,*/
article.tabs section:target
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}

article.tabs section:target h2
{
	color: aqua;
	background-color: #58B0E0;
	z-index: 2;
}

.stringLabel{
	line-height: 30px;
	height: auto;
	color: #000;
	font-size: 15px !important;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin-top: 5px;
	width: 100%;
	margin-bottom: 0px;
	padding-right: 0px;
	font-weight: 100;
	vertical-align: top;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/**** END of content help tabs ***/

.registerBox{
	text-align: right;
	height: 30px;
	color: black;
}

.registerBox a{
	font-size: 17px;
	display: none;
}

.lowercaseOnly{text-transform: lowercase;}


#uploads input.realupload {
opacity: 0;
margin-top: -35px;
right: 0;
width: 100%;
z-index: 2;
height: 35px;
}

.scheduler > ul.range li input[type=text] {
color: rgb(0, 0, 0);font-size: 12px;
height: 23px;
letter-spacing: normal;
}

.dialog-close{
	color: aqua !important;
	background-color: #58B0E0 !important;
}

.dialog-close:hover{
	color: aqua !important;
	background-color: #58B0E0 !important;
	opacity: 0.5;
}

.rowsText
{
	color: black;
	text-align: left;
}

input[type="text"]:disabled{background-color:#EAEAEA; color: #000;}

.menuHeaderIcon {display: inline-block; height: 34px; vertical-align: middle; margin-right: 20px;}
.menuHeaderToolTip {
background: url('../img/menu_header.png') no-repeat right center;
display: inline-block;
height: 16px;
margin-left: 5px;
width: 16px;
margin-top: 8px;
}

.form-help-alert {
color: #145D80;
text-align: left;
}

.footer-Copyright{
	float:left;	
}

.footer-info{
	float:left;	
}

.icon-home {
	float: right!important;
	display: block;
	height: 60px;
	width: 50px;
	text-indent: -5000px;
	background: url(../img/icons/home-white.png) center center no-repeat;
}

.title-icon{
	margin-bottom: 10px;	
}

.title-dash{
	color: #45738E;	
}

.title-dash:hover{
	text-decoration:none;
	opacity: 0.8;
	color: #45738E;
}
/*********breadcrumbs**************/
#crumbs {	
	margin-left: -50px;
}

	#crumbs ul {
		list-style: none;
		display: inline-table;
	}
		#crumbs ul li {
			display: inline;
		}
	
		#crumbs ul li a {
			display: block;
			float: left;
			height: 60px;
			background: #e67a00;
			text-align: center;
			padding: 20px 40px 0 80px;
			position: relative;
			margin: 0 10px 0 0; 
			
			font-size: 20px;
			text-decoration: none;
			color: #fff;
		}
			#crumbs ul li a:after {
				content: "";  
				border-top: 30px solid transparent;
	 			border-bottom: 30px solid transparent;
	  			border-left: 40px solid #e67a00;
				position: absolute; right: -40px; top: 0;
				z-index: 1;
			}
			
			#crumbs ul li a:before {
				content: "";  
				border-top: 30px solid transparent;
	  			border-bottom: 30px solid transparent;
	  			border-left: 40px solid #d4f2ff;
				position: absolute; left: 0; top: 0;
			}
	
				#crumbs ul li:first-child a {
					border-top-left-radius: 10px; border-bottom-left-radius: 10px;
				}
				#crumbs ul li:first-child a:before {
					display: none; 
				}
				
				#crumbs ul li:last-child a {
					padding-right: 80px;
					border-top-right-radius: 10px; border-bottom-right-radius: 10px;
				}
				#crumbs ul li:last-child a:after {
					display: none; 
				}
			
			#crumbs ul li a:hover {
				background: #275e7e;
			}
				#crumbs ul li a:hover:after {
					border-left-color: #275e7e;
				}
				
			#crumbs .current {
				background: #275e7e !important;
				cursor:default;
			}
				/*#crumbs .current:after {
					border-left-color: #275e7e !important;
				}*/
		
/**********************************/
/***********dashboard Help*********/
.circle { 
	width: 60px;
	height: 60px;	
	background-color: #275e7e;
	/*background-image: url(../img/plusIcon.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;	
}
/**********************************/
/***********menu*******************/
/*remove list style (circles)*/
.goo-collapsible{	
	list-style: none;
    font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
    font-size:16px}
/*header line style and border*/
.goo-collapsible li.header{
	color: #666;
    padding:4px 12px;
    border: 1px solid #bbb;}
/*set border for every line of menu nad remove top border becouse we dont want double border with header border. */
.goo-collapsible li { 
	border: 1px solid #bbb;
    border-top:0;
    margin: 0;
    background:#F0F0F0;}
/*remove decoration from text links and treat it as a block.*/
.goo-collapsible li a {
	text-decoration:none;
    color:#666;
    display:block;
    padding:8px 12px;}
/*we dont want text to be underline as regular link*/
.goo-collapsible li a:hover {
	background-color: #275E7E;
	color: white;
    text-decoration:none;}
/*remove list style (circles) for submenu*/    
.goo-collapsible li ul {
	list-style: none;
    background: #d3d3d3;
    display: none;
    margin:0;
    padding:0;}
/*remove border and set only bottom border for submenu*/    
.goo-collapsible li ul li {
	margin:0; 
    border:0; 
    border-bottom:1px solid #bbb;}
/*remove bottom border from last element in submenu*/    
.goo-collapsible li ul li:last-child {
	border-bottom:0;}
/*set padding for submenu to be inline with maimenu*/    
.goo-collapsible li ul li a {
	padding: 5px 10px; 
    display: block; 
    padding-left: 33px;
    background: #d3d3d3;
    text-align: left; }
/*remove text decoration for links*/
.goo-collapsible li ul li a:hover {
text-decoration: none;
background: #275E7E; }
/*for menu witch have a submenu display some icom*/
.goo-collapsible .dropdown > a { 
	
	background-repeat: no-repeat;
	background-position: 20px 50%;
	 
	text-align: left;
	padding-left: 60px;	
}
/*set some hover color on drop down menu*/
.goo-collapsible .dropdown > a:hover { 
	
	background-position-x: 20px;
	background-position-y: 50%;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat; 
	text-align: left;
	padding-left: 60px;	
}

.dropdown, .dropdown:hover{		
	background: url(../img/select2.png) no-repeat 280px 15px !important;
	background-color: #F0F0F0 !important;
}

.mPartner{
	background-image: url(../img/menuIcons/partner.png);
}

.mAppSkin{
	background-image: url(../img/menuIcons/appSkin.png);
}

.mBox{
	background-image: url(../img/menuIcons/box.png);
}

.mBox:before
{
	/*content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;*/
	/*background-image: url(../img/menuIcons/box.png);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);*/
	/*
	transition: -webkit-filter 1s, filter 1s; 
-webkit-filter: invert(100%);
filter: invert(0%);*/
}

.mGeneral{
	background-image: url(../img/menuIcons/general.png);
}

.mDevices{background-image: url(../img/menuIcons/devices.png);}

.mDocument{
	background-image: url(../img/menuIcons/document.png);
}

.mWelcomeAd{
	background-image: url(../img/menuIcons/welcomeAd.png);
}

.mLogout{
	background-image: url(../img/menuIcons/logoff.png);
}

.mBoxSoftware{
	background-image: url(../img/menuIcons/boxSoftware.png);
}

.mCompany{
	background-image: url(../img/menuIcons/company.png);
}

.mContent{
	background-image: url(../img/menuIcons/content.png);
}
.mDocCategory{
	background-image: url(../img/menuIcons/docCategory.png);
}

.mLocation{
	background-image: url(../img/menuIcons/location.png);
}

.mOffer{
	background-image: url(../img/menuIcons/offer.png);
}

.mUsers{
	background-image: url(../img/menuIcons/users.png);
}


/**********************************/
/* Welcome Ad Help Images */
.tablet-container-vert {background-image: url('../img/tablet.png'); background-size: 224px 288px; background-repeat: no-repeat; width: 224px; height: 288px; position: relative;}

.tablet-container-vert .wa-text {font-size: 9px; text-align: center; width: 145px; height: 53px; top: 177px; left: 40px; position: absolute;}
.tablet-container-vert .wa-img {position: absolute; left:40px; top: 54px; width: 145px; height: 123px; background-size: 145px 124px; background-repeat: no-repeat;}
.tablet-container-vert .skip-message{font-size: 7px; color: #fff; position: absolute; top: 35px; right: 30px;}

.tablet-container-hori { background-image: url('../img/tablet.png'); background-size: 223px 288px; background-repeat: no-repeat; width: 223px; height: 288px; position: relative; margin-left: 33px; -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);}

.tablet-container-hori .internal-content {-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);}	


.tablet-container-hori .wa-text {font-size: 9px; text-align: center; width: 145px; height: 53px; top: 33px; left: 183px; position: absolute;}
.tablet-container-hori .wa-img {position: absolute; left: 183px; top: -87px; width: 145px; height: 123px; background-size: 145px 123px; background-repeat: no-repeat;}
.tablet-container-hori .skip-message {font-size: 7px; color: #fff; position: absolute; top: -83px; right: -148px;}


.phone-container-vert {background-image: url('../img/phone.png'); background-size: 147px 293px; background-repeat: no-repeat; width: 147px; height: 293px; position: relative;}
.phone-container-vert .wa-text {font-size: 0.5em; text-align: center; width: 120px; height: 47px; top: 204px; left: 15px; padding-top: 3px; position: absolute;}
.phone-container-vert .wa-up-fill { width: 120px; height: 44px; top: 42px; left: 15px; position: absolute;}
.phone-container-vert .wa-img {position: absolute; left: 15px; top: 86px; width: 145px; height: 123px; background-size: 120px 118px; background-repeat: no-repeat;}
.phone-container-vert .skip-message{font-size: 8px;color: #fff;position: absolute;top: 45px;right: 15px;}

.widget-loading-icon {position:absolute;top:0;bottom:0; margin:auto;}
.widget-loading-container {width: 100%; text-align: center;}

/* Company Widget Styles */
#widgetCompany { color: #000; font-size: 12px;}
#widgetCompany .title {font-weight: bold; font-size: 14px;}
#widgetCompany .logo {text-align: center;}

/* Location Widget Styles */
#widgetLocation { color: #000; font-size: 12px;}
#widgetLocation .title {font-weight: bold; font-size: 14px;}
#widgetLocation .logo {text-align: center;}

/* Styes for the App Preview */
.phone-app {width: 272px; border: solid thin #006dcc; position: relative; min-height: 403px; text-align: center; max-height:403px;
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;}
.phone-app .phone-header {height: 18px; background-image: url('../img/app-preview/PhoneHeader.png');}
.phone-app .app-header {color: #fff; background-color: #bc2126; text-align: center; font-size: 14px; text-transform: uppercase; 
	line-height:36px; vertical-align: middle; height: 36px; background-image: url('../img/app-preview/AppAudioHeaderIcon.png'); background-repeat: no-repeat; 
	border-left: 10px solid #bc2126;}

.phone-app .dialog-app-header {cursor: pointer; color: #fff; font-weight: 600; background-color: transparent; text-align: center; font-size: 12px; text-transform: uppercase; 
	line-height:20px; vertical-align: middle; height: 36px; width: 100%; border-left: 10px solid transparent; z-index: 1; position: absolute; top: 18px; left: 0;
	background-image: url('../img/app-preview/arrow-left-32-white.png'); background-repeat: no-repeat; }
.phone-app .dialog-app-header .title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 255px; display: inline-block;}
.phone-app .dialog-img-container {width: 100%; height: 210px; overflow: hidden;}
.phone-app #dialog-description {/*height: 25px;*/ background-color: #fff; display: block; color: #000; text-align: left; 
line-height: 12px; padding-left: 5px; font-style: italic; font-size: 10px; padding-right: 5px;}
.phone-app #dialog-view-expiration {font-weight: 600; font-size: 14px; display: block; height: 26px; color: #575757; text-transform: uppercase;}
.phone-app #dialog-view-available {display: block; height: 45px; color: #575757; font-size: 11px;}
.phone-app #dialog-view-more-btn {cursor: pointer; display: block; width: 83px; height: 36px; background-color: #43477E; color: #fff; line-height: 36px; margin: auto;}

.phone-app .ads-container {height: 118px; }
.phone-app .app-tabs {height: 36px;  background-color: #fff; color: #404041; line-height: 36px; vertical-align: middle; text-align: center;}
.phone-app .app-tabs .tab {width: 33%; float: left; height: 36px; cursor: pointer;}
.phone-app .app-tabs .current {border-bottom: 6px #8E102C solid;}
.phone-app .tabs-separator {height: 5px; background-color: #E6E7E8;}
.phone-app .tab-container {padding: 0px 5px; max-height: 150px; height: 150px; overflow-y: auto;}
.phone-app .docs-container .header {height: 14; text-transform: uppercase; color: #fff; text-align: left; font-size: 14px; 
font-weight: bold; background-color: #8E102C; padding-left: 5px;}
.phone-app .docs-container .doc {margin-bottom: 1px; background-color: #fff; color:#404041; height: 37px; line-height: 37px; vertical-align: middle; padding-left: 25px; text-align: left;}
.phone-app .docs-container .doc span {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/ -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/ width: 200px;}
.phone-app .docs-container .cat-separator {height: 5px; width: 100%;}
.phone-app .channels-container {
	max-height: 150px;
	height: 150px;	
}

.phone-app .channels-container .channel {height: 77px;
color: #fff;
font-size: 14px;
font-weight: bold;
padding-left: 5px;
border: solid thin #D5D1D1;
margin-bottom: 1px;
background-color: #fff; position: relative;}
.phone-app .channels-container .channel .name {float: left;
color: #909090;
font-size: 16px;
margin: 10px 10px;
font-weight: normal;}
.phone-app .channels-container .channel .info {float: right;
width: 77px;
height: 100%;
background-color: #AD6B42;}

.phone-app .channels-container .channel .info-icon {
width: 16px;
height: 16px;
background: url(../img/icons/info-white.png) no-repeat; position: absolute;
right: 6px;
top: 6px;}

.phone-app .channels-container .channel .pause-button {
width: 27px;
height: 32px;
background: url(../img/app-preview/pause-32-white.png) no-repeat;
position: absolute;
left: 112px;
top: 22px;}


.phone-app .play-controls {width: 100%;
background-color: #000;
height: 38px;
color: #fff;
font-size: 10px; z-index: 1;
position: relative;}
.phone-app .play-controls .channel-thumbnail{width: 30px;
height: 30px;
background-color: #5785D8;
float: left;
margin: 4px 5px 0 5px;}
.phone-app .play-controls .channel-text{width: 60px;
float: left;
text-align: left;
margin-top: 5px;}

.phone-app .play-controls .pause-button { float: right; width: 14px; height: 16px; margin: 10px 15px 0 15px;
background: url(../img/app-preview/pause-16-white.png) no-repeat;}

.phone-app .play-controls .skip-prev-button { float: right; width: 14px; height: 16px; margin: 10px 15px 0 15px;
background: url(../img/app-preview/skip-previous-16-white.png) no-repeat;}

.phone-app .play-controls .skip-next-button { float: right; width: 14px; height: 16px; margin: 10px 20px 0 15px;
background: url(../img/app-preview/skip-next-16-white.png) no-repeat;}

.phone-app-demo-note {text-align: left; color: #000; font-size: 13px; width: 272px;}

.offers-container .offer {height: 60px; margin-bottom: 1px; text-align: left; background-color: #fff; }
.offers-container .offer .offer-thumbnail {width: 90px;
height: 100%;
background-color: #AD6B42; display: inline-block; float: left;}
.offers-container .offer .info {margin-left: 10px;  display: inline-block; float: left;}
.offers-container .offer .info .title {text-transform: uppercase; font-size: 12px; color: #575757; display: block; font-weight: bold; margin: 15px 0px 5px 0px; white-space: nowrap;
overflow: hidden; text-overflow: ellipsis; width: 140px; -o-text-overflow: ellipsis;}
.offers-container .offer .info .expiration {font-size: 10px; color: #575757; display: block; font-style: italic;}

.mycircle {
	position: absolute; width: 28px; height: 28px; top: 20px; left: 30px; background-color: #fff;
	
  border-radius:99px;
 -moz-border-radius:99px;
 -webkit-border-radius:99px;
  background:#3C3838;
  color:#fff;
  border:3px #fff solid;
  background-color: #3C3838;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3C3838), to(#949191)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3C3838, #949191); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #3C3838, #949191); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #3C3838, #949191); /* IE10 */
  background-image: -o-linear-gradient(top, #3C3838, #949191); /* Opera 11.10+ */
  background-image: linear-gradient(top, #3C3838, #949191);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3C3838', EndColorStr='#949191'); 
 -webkit-box-shadow: 0px 2px 4px #000000; /* Saf3-4 */
 -moz-box-shadow: 0px 2px 4px #000000; /* FF3.5 - 3.6 */
  box-shadow: 0px 2px 4px #000000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  display:inline-block;
  padding:2px 2px 2px 2px ;
  margin:3px;
  font-family:arial;
  font-weight:bold;
   }
   
.text-banner-msg-box {
	position: absolute;
	width: 184px; height: 96px; top: 15px; left: 75px; background-color: #fff;
	color: #000; font-size: 12px; font-weight: 400;	text-align: left; padding: 10px;
	/*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    /*-o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
}

.text-banner-msg-box:after, .text-banner-msg-box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.text-banner-msg-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -36px;
}

.gen-dialog-img-div {padding-top: 46px; height: 100%;}

.general-banner-container {width: 100%; height: 270px;}

#addWidgetDialogPlaceHolder .widget-row {border: solid thin #DEE5E5; padding: 10px; position: relative; margin-bottom: 15px;}
#addWidgetDialogPlaceHolder .widget-row .title {font-size: 20px;}
#addWidgetDialogPlaceHolder .widget-row .description {font-size: 12px;}
#addWidgetDialogPlaceHolder .widget-row .texts {float: left; margin-right: 155px;}
#addWidgetDialogPlaceHolder .widget-row .btn-div {right: 10px; top: 0px; position: absolute;}

.widget-internal-content table.dataTable tbody tr {height: 56px !important;}

.exxo-label {  line-height: 30px; height: auto; color: #000; font-size: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 5px; margin-bottom: 0px; padding-right: 0px; font-weight: 100; vertical-align: top;}
  
 .box-special-options {text-align: left; margin-top: 40px;}
 .box-special-options .message {padding-left: 15px; vertical-align: middle; margin-top: 10px; font-size: 14px; font-size: 16px; color: #000; display: inline-block;}
 
.configuration-list {margin: 0px !important; border-spacing: 1px !important;}
.configuration-list td {padding: 2px 10px !important;}
.configuration-list a.delete {float: right;}
.configuration-container {margin-top: 15px;}
.configuration-container #add-item-btn {float: right; margin-right: 14px; margin-top: 10px;}

.full-width {width: 100%;}
.warning-site-message {
	text-align: center;
}

.warning-site-message-on-main {
	position: fixed; bottom: 55px; width: 100%!important; backface-visibility: hidden;
    z-index: 999;
}
.alert-maintance {
    color: #fff; margin-bottom: 0px;
    background-color: rgba(255, 127, 0, 0.97);;
    border-color: rgba(255, 127, 0, 0.97);
}
.select2-drop {z-index:99999;}
#companyLabelDiv .field-value {height: 40px;  line-height: 40px;}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well-architectures .list-group {
    margin-bottom: 0px; color: #000;
}
.well-architectures {margin-top: 10px; min-height: 20px; padding: 5px;
    background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px;
    max-height: 300px; overflow: auto;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);}

/******************Media Queries Form 240px to 1023px*****************/
@media all and (min-width:240px) and (max-width:1023px)  {
	.text-to-right {text-align: left !important;}
}