element {
  --main-bg-color: #e67a00;
}

.logo_infoapp {background: url(../img/app-logo-menuu.jpg) 10px center no-repeat;}

.btn-primary {background: #e67a00; color: #ffffff;}

#first h1, #second h1, #third h1 {color: #e67a00;}

.company .header {background-color: rgb(230,122,0);}

.required{border:solid 1px #e67a00;}

.select2-container .select2-choice {border: 1px solid #e67a00;}
.select2-container-active .select2-choice,.select2-container-active .select2-choices {border: 1px solid #e67a00;}
.scheduler > ul.months li.selected { background-color: #e67a00; }
a.file-input-wrapper{background-color:#e67a00;color: #f1f1f1;border: 1px solid #FFB561;}
a.file-input-wrapper:hover{background-color:#FFB561;border: 1px solid #e67a00;color: #e67a00;}
.scheduler > ul.months li.selected { background-color: #e67a00; }
#tabs li a {border: 1px solid #e67a00;color: #000;background: #e67a00;}
.tab-section {padding: 10px;border: 1px solid #e67a00;}
footer a:hover {color: #e67a00;}
.form-control {border-top-color: #e67a00!important;border-bottom-color: #e67a00!important;border-right-color: #e67a00;border-left-color: #FFF;}
#map-container {border: 1px solid #e67a00;}
#internal-content thead {color: #000;background: #e67a00;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #E3CD9F 0%, #E67A00 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #E3CD9F 0%, #E67A00 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #E3CD9F 0%, #E67A00 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E3CD9F), color-stop(1, #E67A00));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #E3CD9F 0%, #E67A00 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #E3CD9F 0%, #E67A00 100%);

}
input.file {border: 1px solid #e67a00;color: #878787;}
.nu-cutomer input.file {border: 1px solid #e67a00;	color: #878787;}
.home-brand-heading {color: #e67a00;}
::-moz-selection {background: #e67a00; color:#fff;}
::selection {background: #e67a00; color:#fff;}
.pick-a-color-markup .hex-pound{background: #FFF;border-top-color: #e67a00;border-bottom-color: #e67a00;border-left-color: #e67a00;}
.input-group-btn .color-dropdown {background-color: #fff;border-top-color: #e67a00!important;border-right-color: #e67a00!important;border-bottom-color: #e67a00!important;border-left-color: #e67a00!important;}
/*.gn-menu-main ul li:hover {background: url(../img/arrow.png) #e67a00 right center no-repeat;}*/
footer a {text-decoration: underline; color: #fff;}
footer{color: #fff;}
@media (max-width: 1680px) and (min-width: 1366px)
.navbar-custom .nav li a {
color: #FFF;
}
.form-bordered {border: thin solid #e67a00;}

.tablet-container-vert .wa-text {color: #fff; background-color: #e67a00;}
.tablet-container-vert .wa-img {background-image: url('../img/gym-women.png');}
.tablet-container-hori .wa-text {color: #fff; background-color: #e67a00;}
.tablet-container-hori .wa-img {background-image: url('../img/gym-women.png');}
.phone-container-vert .wa-text {color: #fff; background-color: #e67a00;}
.phone-container-vert .wa-img {background-image: url('../img/gym-women.png');}
.phone-container-vert .wa-up-fill { background-color: #e67a00;}

.gridster li header { background:#515151; color:#fff; border-bottom:1px solid #515151;
}

/* Messi Window Messages */
.messi-titlebox {
	background-color: #3b3b3b; 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #3b3b3b), color-stop(0.75, #575757));
	background-image: linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
	background-image: -moz-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
	background-image: -o-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
	background-image: -webkit-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
	background-image: -ms-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
}
#internal-content h4 {color: #275e7e;}