/**
 * ajaxflow css
 *
 * @author	Jeroen Wesbeek <work@osx.eu>
 * @package AjaxFlow
 */

/** START :: AJAX FLOW **/
.ajaxFlow {
	width: 100%;
}
.ajaxFlow h1{
  color: rgb(230,122,0) !important;
  font-weight: normal;
  font-size: 22px;
}
.ajaxFlowError {
	width: 97.5%;
	border: 1px dotted red;
	padding: 10px 10px 10px 10px;
}

/** START :: TABS **/
.ajaxFlow .tabs {
  display: block;
  padding-bottom: 2px;
  border:none;
  width: 100%;
}
.ajaxFlow .tabs ul {
    list-style-type: none; /* suppression of useless elements */
    padding: 0px;
    font-size: 10px;
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 20px;
    width: 100%;
}
.ajaxFlow .tabs li {
  float: left;
  margin: 0px;
  height: 20px;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background:  rgba(1,7,89,0.7);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ajaxFlow .tabs li input {
	cursor: pointer;
	color: #006DBA;
	background-color: transparent;
	border: none;
	vertical-align: top;
	font-size: 10px;
}
.ajaxFlow .tabs li:last-child:after {
	content: url('../img/wizard/spacer.gif');
}
.ajaxFlow .tabs li:first-child:before {
	content: url('../img/wizard/spacer.gif');
}
.ajaxFlow .tabs li:before {
	content:url(../img/wizard/arrowR.gif);
	position:inherit;
	margin-top: 0px;
	margin-bottom: 0px;
	display:inline;
}
.ajaxFlow .tabs li:after {
	content:url(../img/wizard/arrowL.gif);
	position:inherit;
	margin-top: 0px;
	margin-bottom: 0px;
	display:inline;
}
.ajaxFlow .tabs .content {
    padding: 0px 10px 0px 10px;
    display: inline;
    border: 0px;
	vertical-align: top;
	line-height: 20px;
}
.ajaxFlow .tabs .active {
  background-color: rgba(230,122,0,0.7) !important;
  color: #fff !important;
  text-shadow: 0px 0px 1px #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/** START NAVIGATION **/
.ajaxFlow .navigation {
  display: block;
  padding-top: 2px;
  border: none;
  color: #666666;
  font-size: 10px;
  margin-top:-20px;  
  float: right;
  width: 420px;
}

.ajaxFlow .navigation .prevnext {
  cursor: pointer;
  color: #fff;
  background-color:#00adef;
  border: none;
  /*padding:12px 15px;*/
  font-weight:bold;
  font-size:23px;;
}

/** CONTENT STYLES **/
.ajaxFlow .content {
	padding: 20px 0px 20px 0px;
}

.ajaxFlow .content p {
	text-align: justify;
	padding: 10px 0px 10px 0px;
}

.ajaxFlow .content a, .ajaxFlow .content a:visited {
	color: red;
	text-decoration: none;
}

/** START :: buttons inside the ajaxflow **/
.ajaxFlow .prevnext {
    cursor: pointer;
    color: #006DBA;
    background-color: transparent;
    border: none;
}
/** END :: buttons inside the ajaxflow **/

/** START :: please wait **/
.ajaxFlow .waitBackground {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
	top: 0px;
	left: 0px;

	filter: alpha(opacity:0.6);
	KHTMLOpacity: 0.6;
	MozOpacity: 0.6;
	-khtml-opacity:.60;
	-ms-filter:"alpha(opacity=60)";
	-moz-opacity:.60;
	filter:alpha(opacity=60);
	opacity:.60;
}

.ajaxFlow .waiter {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100001;
	top: 0px;
	left: 0px;
}

.ajaxFlow .waiter .wait {
	display: inline-block;
	zoom: 1; /* IE 6 & 7 hack */
	*display: inline; /* IE 6 & 7 hack */
	width: 100%;
	position:relative;
	top: 40%;
	left: 25%;
	width: 50%;
	height: 100px;
	background-color: white;
	z-index: 100001;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.ajaxFlow .waiter .wait .title {
    color: #006dba;
    font-weight: normal;
    font-size: 24px;
    margin: .8em 0 .3em 0;
    display: inline-block;
	zoom: 1; /* IE 6 & 7 hack */
	*display: inline; /* IE 6 & 7 hack */
    width: 100%;
    text-align: center;
}
.ajaxFlow .waiter .wait .spinner {
	background: url(../img/wizard/ajax-loader.gif) no-repeat center top;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	width: 100%;
	height: 48px;
}

#wizardPage .content{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background:rgba(255,255,255,0.7);
  -webkit-box-shadow: 0 2px 2px 2px #BDBDBD;
  box-shadow: 0 2px 2px 2px #BDBDBD;
  padding:38px 30px;
  margin-top:8px;
}  
.ajaxFlow .tabs li .content{
  -webkit-border-radius:0!important;
  border-radius: 0!important;
  background:none!important;
  -webkit-box-shadow:none!important;
  box-shadow:none!important;
  padding: 20px 19px!important;    
  margin-top:0px!important;
}
/*.btn-primary{background:#010759;padding:6px 40px;-webkit-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}*/

/** END :: please wait **/