<%@ page contentType="text/html"%>

<!DOCTYPE html>
<html>
	<head>
				
	</head>
	<body>
			<p><g:message code="email.register.account"/> <a href="http://${ session.domain + "/" + grailsApplication.config.application.path.base }"><g:message code="here" /></a> </p>			 
	</body>
</html>
