<!DOCTYPE html>


<html>
	<head>
		<title>Application Error</title>
		<meta name="layout" content="bootstrap">
		<meta name="bootstrap" content="main">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'errors.css')}" type="text/css">
	</head>
	<body>
		<h1>Application Error</h1>
		<p>We're sorry, but the application has encountered an error. Please try again.</p>
	</body>
</html>